/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Main site styles
------------------- */
@font-face {
  font-family: 'FreeSetCTT';
  src: url('../fonts/FreeSetCTT_18658.eot');
  src: local('☺'), url('../fonts/FreeSetCTT_18658.woff') format('woff'), url('../fonts/FreeSetCTT_18658.ttf') format('truetype'), url('../fonts/FreeSetCTT_18658.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'FreeSetExtraCTT';
  src: url('../fonts/FreeSetExtraCTT_18660.eot');
  src: local('☺'), url('../fonts/FreeSetExtraCTT_18660.woff') format('woff'), url('../fonts/FreeSetExtraCTT_18660.ttf') format('truetype'), url('../fonts/FreeSetExtraCTT_18660.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
body {
  font-family: 'Fira Sans', sans-serif;
  background: #f6f9fc;
  height: 100%;
  position: relative;
}
a {
  transition: .3s;
  text-decoration: none;
}
img {
  max-width: 100%;
  max-height: 100%;
  outline: none;
  border: none;
}
div[class*="col-"] {
  float: left;
}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
.col-1 {
  width: 8.333333333%;
}
.col-2 {
  width: 16.66666667%;
}
.col-3 {
  width: 25%;
}
.col-4 {
  width: 33.33333333%;
}
.col-6 {
  width: 50%;
}
.col-7 {
  width: 58.33333333%;
}
.col-8 {
  width: 66.66666667%;
}
.col-9 {
  width: 75%;
}
.col-10 {
  width: 83.33333333%;
}
.col-11 {
  width: 91.66666667%;
}
.col-12 {
  width: 100%;
}
.container {
  width: 1170px;
  margin: 0 auto;
}
.btn {
  display: inline-block;
  border-radius: 25px;
}
.btn-medium {
  font-size: 14px;
  padding: 15px 20px;
}
.btn-large {
  padding: 15px 40px;
  font-weight: bold;
}
.btn-style-1 {
  background: #e33c8a;
  color: #fff;
}
.btn-style-1:hover {
  background: #ce1e70;
}
.btn-style-2 {
  border: 1px solid #d2e0eb;
  color: #9faab4;
}
.btn-style-2:hover {
  background: #f5f8fb;
}
.wrapper {
  position: relative;
}
.wrapper-header {
  background: url('../images/wrapper-header-bg.png') no-repeat top center;
}
.header-top {
  border-bottom: 1px solid #eaeff5;
  padding: 20px 0;
}
.header-top-logo a {
  display: inline-block;
  letter-spacing: -0.25px;
}
.header-top-logo-img,
.header-top-logo-title {
  display: inline-block;
  vertical-align: middle;
}
.header-top-logo-title {
  margin-left: 10px;
  font-size: 30px;
  color: #328fdb;
  font-family: FreeSetCTT;
}
.header-top-logo-title span {
  font-family: 'FreeSet Bold Cyrillic', arial;
}
.header-top-descr {
  display: block;
  font-size: 14px;
  color: #748a9d;
  font-family: 'Fira Sans', sans-serif;
  font-weight: 300;
  line-height: 1.714;
}
.header-top-contact-icon,
.header-top-contact-phone {
  display: inline-block;
}
.header-top-contact-phone {
  margin-left: 4px;
}
.header-top-contact .header-descr {
  margin-left: 20px;
}
.header-top-language-icon,
.header-top-language-picker {
  display: inline-block;
  vertical-align: middle;
}
.header-top-language-picker a {
  font-size: 13px;
  color: #82909b;
  margin-left: 5px;
  position: relative;
  padding-right: 20px;
}
.header-top-language-picker a:after {
  content: "";
  background: url('../images/header-icon-3.png');
  display: block;
  width: 9px;
  height: 5px;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
}
.header-top-user_panel {
  float: right;
}
.header-top-user_panel-link.cart {
  padding: 15px 20px 15px 35px;
  position: relative;
}
.header-top-user_panel-link.cart:before {
  content: "";
  background: url('../images/header-icon-4.png');
  display: block;
  width: 15px;
  height: 19px;
  position: absolute;
  left: 15px;
  top: 46%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
}
.header-bottom {
  padding: 15px 0;
  margin-bottom: 50px;
}
.header-bottom-nav {
  float: left;
}
.header-bottom-nav li {
  display: inline-block;
  margin-left: 35px;
}
.header-bottom-nav li:first-child {
  margin-left: 0;
}
.header-bottom-nav li a {
  font-size: 19px;
  line-height: 44px;
  color: #2e3034;
}
.header-bottom-nav li a:hover,
.header-bottom-nav li a.active {
  color: #929aa0;
}
.header-bottom-btn {
  float: right;
}
.top-content {
  padding-bottom: 95px;
}
.top-content-info {
  padding: 0 0 0 30px;
}
.top-content-info h3 {
  font-size: 46px;
  color: #328fdb;
  margin-top: 60px;
  margin-bottom: 15px;
}
.top-content-info-descr {
  color: #171718;
  font-size: 15px;
  line-height: 33px;
  margin-bottom: 30px;
}
.top-content-info-buy_now {
  display: inline-block;
}
.top-content-info-buy_now a {
  display: inline-block;
  padding: 15px 40px;
  border-radius: 25px;
  background: #e33c8a;
  font-weight: bold;
  color: #fff;
}
.top-content-info-buy_now a:hover {
  background: #ce1e70;
}
.top-content-info-old_price {
  display: inline-block;
  margin-left: 15px;
  color: #1f2022;
  font-weight: bold;
}
.top-content-offers {
  margin-top: 55px;
  display: flex;
  justify-content: space-between;
  align-self: center;
}
.top-content-offers-item {
  background: #fff;
  box-shadow: 0px 12px 40px 0px rgba(0, 0, 0, 0.07);
  padding: 20px 45px;
  border-bottom: 5px solid #f1f5f9;
  border-radius: 8px;
  height: 100px;
  max-width: 370px;
  box-sizing: border-box;
}
.top-content-offers-item-title,
.top-content-offers-item img {
  display: inline-block;
  vertical-align: middle;
}
.top-content-offers-item-title {
  margin-left: 10px;
}
.top-content-offers-item-title-head {
  color: #5b6066;
  font-size: 14px;
  display: block;
}
.top-content-offers-item-title-descr {
  font-size: 20px;
  color: #328fdb;
}
.top-content-page-icon {
  text-align: right;
}
.top-content-breadcrumbs {
  margin-top: 15px;
}
.top-content-breadcrumbs ul li {
  display: inline-block;
  float: left;
  margin-left: 20px;
}
.top-content-breadcrumbs ul li:first-child {
  margin-left: 0;
}
.top-content-breadcrumbs ul li a {
  color: #171718;
}
.top-content-breadcrumbs ul li a:hover,
.top-content-breadcrumbs ul li a.active {
  color: #878a94;
}
.top-content-breadcrumbs + h3 {
  margin: 20px 0 0 0;
}
.content {
  margin-top: -68px;
}
.content-main_info {
  padding: 50px 75px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0px 12px 40px 0px rgba(0, 0, 0, 0.07);
  border-bottom: 5px solid #f1f5f9;
  margin-bottom: 55px;
}
.content-main_info p {
  line-height: 30px;
  font-size: 15px;
}
.content-main_info .accordion-title {
  color: #2e3034;
  font-size: 22px;
  line-height: 48px;
  letter-spacing: -0.1px;
  font-weight: 500;
  margin-bottom: 10px;
}
.content-main_info-title {
  margin-bottom: 25px;
  color: #171718;
}
.content-main_info-title img,
.content-main_info-title h3 {
  vertical-align: middle;
  display: inline-block;
}
.content-main_info-title h3 {
  margin-left: 20px;
  font-size: 36px;
}
.content-main_info-detailed {
  margin-bottom: 50px;
}
.content-main_info-detailed-block {
  text-align: center;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  width: 310px;
  margin: 0 auto;
}
.content-main_info-detailed-block-head {
  background: #66b0ec;
  padding: 20px;
}
.content-main_info-detailed-block-head img,
.content-main_info-detailed-block-head h3 {
  display: inline-block;
  vertical-align: middle;
}
.content-main_info-detailed-block-head h3 {
  font-size: 21px;
  color: #fff;
  margin-left: 10px;
}
.content-main_info-detailed-block-descr {
  color: #444547;
  padding: 30px 20px;
  min-height: 250px;
  border: 1px solid #d9e0e2;
  border-top: none;
  font-size: 15px;
  line-height: 27px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  box-sizing: border-box;
}
.content-main_info-detailed-advantages {
  margin-bottom: 60px;
}
.content-main_info-detailed-advantages img,
.content-main_info-detailed-advantages-title {
  display: inline-block;
  vertical-align: middle;
}
.content-main_info-detailed-advantages-title {
  margin-left: 25px;
}
.content-main_info-detailed-advantages-title h3 {
  color: #5b6066;
  font-size: 14px;
  line-height: 33px;
}
.content-main_info-detailed-advantages-title p {
  color: #328fdb;
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
}
.content-main_info-offers {
  padding: 25px;
  border-radius: 10px;
  box-shadow: 0px 12px 40px 0px rgba(0, 0, 0, 0.07);
  border-bottom: 5px solid #f1f5f9;
  background: #fff;
  margin-bottom: 30px;
}
.content-main_info-offers-img,
.content-main_info-offers-title {
  vertical-align: middle;
  display: inline-block;
  position: relative;
}
.content-main_info-offers-img {
  padding-right: 15px;
}
.content-main_info-offers-img:before {
  content: "";
  position: absolute;
  bottom: 30px;
  right: -10px;
  background: url('../images/content-img-2-icon.png');
}
.content-main_info-offers-title {
  padding: 30px 0 0 15px;
}
.content-main_info-offers-title h3,
.content-main_info-offers-title p {
  color: #2e3034;
}
.content-main_info-offers-title h3 {
  font-size: 30px;
  line-height: 36px;
  margin-bottom: 10px;
}
.content-main_info-offers-title span {
  color: #78787a;
  font-size: 15px;
  font-weight: 300;
  display: block;
  margin: 5px 0;
}
.content-main_info-offers-title p {
  font-size: 15px;
  line-height: 30px;
  margin-bottom: 20px;
}
.content-main_info-offers-title a {
  color: #9faab4;
  font-size: 14px;
  border: 1px solid #d2e0eb;
  border-radius: 25px;
  display: inline-block;
  padding: 15px 20px;
}
.content-main_info-offers.offers-second .content-main_info-offers-img {
  padding: 0;
  float: right;
}
.content-main_info-order {
  margin: 50px 0;
}
.content-main_info-order-icon {
  text-align: right;
}
.content-main_info-order-title {
  padding: 15px 0 0 60px;
}
.content-main_info-order-title h4 {
  color: #5b6066;
  font-size: 14px;
  line-height: 33px;
}
.content-main_info-order-title h3 {
  color: #328fdb;
  font-size: 24px;
  line-height: 1;
}
.content-main_info-order-title a {
  margin-top: 20px;
}
.content-main_info.feedback {
  text-align: center;
  padding: 25px;
  border-radius: 10px;
  box-shadow: 0px 12px 40px 0px rgba(0, 0, 0, 0.07);
  border-bottom: 5px solid #f1f5f9;
  background: #fff;
  margin-bottom: 60px;
}
.content-main_info.feedback h3 {
  font-size: 36px;
  line-height: 48px;
  color: #2e3034;
  letter-spacing: -0.1px;
}
.content-main_info.feedback h4 {
  font-size: 15px;
  line-height: 30px;
  letter-spacing: -0.1px;
  margin-bottom: 30px;
}
.content-main_info-carousel {
  margin-bottom: 30px;
}
.content-main_info-faq {
  padding: 40px 25px;
}
.content-main_info.contacts h2 {
  padding: 0 0 20px;
  font-size: 30px;
  font-weight: bold;
  color: #2e3034;
  line-height: 36px;
}
.content-main_info.contacts .contacts_info {
  border-top: 1px solid #eceff4;
  padding: 30px 0 0 0;
  margin-right: 30px;
}
.content-main_info.contacts .contacts_info h3 {
  color: #78787a;
  font-size: 15px;
  line-height: 25px;
  padding-left: 30px;
  position: relative;
}
.content-main_info.contacts .contacts_info h3:before {
  content: "";
  position: absolute;
  left: 0;
}
.content-main_info.contacts .contacts_info .address {
  padding: 0 20px 20px 0;
}
.content-main_info.contacts .contacts_info .address h3:before {
  width: 20px;
  height: 25px;
  background: url('../images/contact_form-icon-1.png') no-repeat;
}
.content-main_info.contacts .contacts_info .phone h3:before {
  width: 20px;
  height: 20px;
  background: url('../images/contact_form-icon-2.png') no-repeat;
}
.content-main_info.contacts .contacts_info .email h3:before {
  width: 24px;
  height: 25px;
  background: url('../images/contact_form-icon-3.png') no-repeat;
}
.content-main_info.contacts .contacts_info .btn {
  margin-top: 20px;
}
.content-main_info .contact_form img {
  margin-bottom: 15px;
}
.content-main_info .contact_form label {
  display: block;
}
.content-main_info-cart {
  padding: 40px;
}
.content-main_info-cart .cart-title {
  color: #2e3034;
  font-size: 22px;
  font-weight: 500;
}
.content-main_info-cart .woocommerce-cart-form {
  margin-top: 10px;
}
.content-main_info-cart .woocommerce-cart-form__contents {
  width: 100%;
}
.content-main_info-cart .woocommerce-cart-form__contents tr {
  border-bottom: 1px solid #e6eaec;
}
.content-main_info-cart .woocommerce-cart-form__contents th {
  padding: 1em .5em;
  text-align: left;
}
.content-main_info-cart .woocommerce-cart-form__contents .woocommerce-cart-form__cart-item td {
  padding: 1em .5em;
}
.content-main_info-cart .woocommerce-cart-form__contents .woocommerce-cart-form__cart-item .product-thumbnail {
  border-left: 1px solid #e6eaec;
}
.content-main_info-cart .woocommerce-cart-form__contents .woocommerce-cart-form__cart-item .product-remove {
  border-right: 1px solid #e6eaec;
}
.content-main_info-cart .woocommerce-cart-form__contents .woocommerce-cart-form__cart-item .product-remove .remove {
  font-size: 24px;
  color: #c0c2c7;
  transition: .3s;
}
.content-main_info-cart .woocommerce-cart-form__contents .woocommerce-cart-form__cart-item .product-remove .remove:hover {
  color: #e3061f;
}
.content-main_info-cart .woocommerce-cart-form__contents .woocommerce-cart-form__cart-item .product-name a {
  color: #2b405e;
  font-size: 20px;
}
.content-main_info-cart .woocommerce-cart-form__contents td {
  vertical-align: middle;
}
.content-main_info-cart .woocommerce-Price-amount {
  font-weight: bold;
  margin-left: 10px;
  font-size: 27px;
}
.content-main_info-cart .woocommerce-Price-currencySymbol {
  font-weight: normal;
  font-size: 20px;
  color: #6c6c6c;
}
.content-main_info-cart .cart-collaterals {
  margin-top: 50px;
  float: right;
  background: #f6f4ed;
  padding: 0 0 0 45px;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
}
.content-main_info-cart .cart-collaterals .shop_table_responsive,
.content-main_info-cart .cart-collaterals .wc-proceed-to-checkout {
  display: inline-block;
  vertical-align: middle;
}
.content-main_info-cart .cart-collaterals .wc-proceed-to-checkout {
  margin-left: 30px;
}
.content-main_info-cart .cart-collaterals .order-total {
  font-size: 16px;
}
.content-main_info-cart .woocommerce-checkout {
  padding: 20px;
  border: 1px solid #e6eaec;
}
.content-main_info-cart .woocommerce-billing-fields {
  color: #535356;
  font-size: 13px;
}
.content-main_info-cart .woocommerce-billing-fields__field-wrapper p {
  margin-bottom: 20px;
}
.content-main_info-cart .woocommerce-billing-fields__field-wrapper p label {
  color: #535356;
  font-size: 13px;
  display: block;
  line-height: 1;
  margin-bottom: 10px;
}
.content-main_info-cart .woocommerce-billing-fields__field-wrapper p input,
.content-main_info-cart .woocommerce-billing-fields__field-wrapper p select {
  box-sizing: border-box;
  padding: 15px;
  color: #171718;
  width: 100%;
  font-weight: bold;
}
.sidebar {
  padding: 55px 0 0 35px;
}
.sidebar h3 {
  font-size: 28px;
  line-height: 36px;
  color: #2e3034;
  margin-top: 45px;
}
.sidebar p {
  font-size: 14px;
  line-height: 24px;
  letter-spacing: -0.1px;
  color: #68686a;
  position: relative;
}
.sidebar .phone-icon {
  padding: 10px 0 0 60px;
}
.sidebar .phone-icon:before {
  content: "";
  width: 44px;
  height: 44px;
  display: block;
  background: url('../images/sidebar-icon-1.png') no-repeat;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
}
.sidebar-buttons {
  text-align: center;
}
.sidebar-buttons .sidebar-button {
  margin: 15px auto 0;
}
.sidebar-buttons .sidebar-button a {
  width: 190px;
}
.sidebar-partners ul li {
  margin-bottom: 10px;
}
.sidebar-partners ul li:last-child {
  margin-bottom: 0;
}
.footer {
  background: #e8eef6;
  padding-top: 20px;
}
.footer-top {
  border-bottom: 1px solid #e1e7ef;
  padding-bottom: 20px;
}
.footer-top-logo a {
  display: inline-block;
  letter-spacing: -0.25px;
}
.footer-top-logo-img,
.footer-top-logo-title {
  display: inline-block;
  vertical-align: middle;
}
.footer-top-logo-title {
  margin-left: 10px;
  font-size: 30px;
  color: #328fdb;
  font-family: FreeSetCTT;
}
.footer-top-logo-title span {
  font-family: 'FreeSet Bold Cyrillic', arial;
}
.footer-top-descr {
  display: block;
  font-size: 14px;
  color: #748a9d;
  font-family: 'Fira Sans', sans-serif;
  font-weight: 300;
  line-height: 1.714;
}
.footer-top-contact-icon,
.footer-top-contact-phone {
  display: inline-block;
}
.footer-top-contact-phone {
  margin-left: 4px;
}
.footer-top-contact .header-descr {
  margin-left: 20px;
}
.footer-top-language-icon,
.footer-top-language-picker {
  display: inline-block;
  vertical-align: middle;
}
.footer-top-language-picker a {
  font-size: 13px;
  color: #82909b;
  margin-left: 5px;
  position: relative;
  padding-right: 20px;
}
.footer-top-language-picker a:after {
  content: "";
  background: url('../images/header-icon-3.png');
  display: block;
  width: 9px;
  height: 5px;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
}
.footer-top-user_panel {
  float: right;
}
.footer-top-user_panel-link.cart {
  padding: 15px 20px 15px 35px;
  position: relative;
}
.footer-top-user_panel-link.cart:before {
  content: "";
  background: url('../images/header-icon-4.png');
  display: block;
  width: 15px;
  height: 19px;
  position: absolute;
  left: 15px;
  top: 46%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
}
.footer-bottom {
  padding: 15px 0;
}
.footer-bottom-nav {
  float: left;
}
.footer-bottom-nav li {
  display: inline-block;
  margin-left: 35px;
}
.footer-bottom-nav li:first-child {
  margin-left: 0;
}
.footer-bottom-nav li a {
  font-size: 14px;
  line-height: 44px;
  color: #6c7178;
}
.footer-bottom-nav li a:hover,
.footer-bottom-nav li a.active {
  color: #303235;
}
.footer-bottom-btn {
  float: right;
}
/*----- Accordion -----*/
.accordion,
.accordion * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.accordion {
  overflow: hidden;
}
.accordion-items {
  min-height: 270px;
}
.accordion-section {
  padding: 0 15px;
}
.accordion-section-title {
  position: relative;
  width: 100%;
  padding: 15px 25px;
  display: inline-block;
  border-bottom: 1px solid #eff1f3;
  transition: all linear 0.15s;
  font-size: 15px;
  color: #25253c;
}
.accordion-section-title:before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  display: block;
  width: 15px;
  height: 16px;
  background: url('../images/accordion-faq-icon.png');
}
.accordion-section-title:hover,
.accordion-section-title.active {
  font-weight: bold;
  text-decoration: none;
}
.accordion-section-title.active {
  border: none;
}
.accordion-section-content {
  padding: 15px 0;
  display: none;
}
.accordion-section-content p {
  line-height: 25px;
}
